* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Noto Sans TC script=all rev=1";
  font-weight: 200;
  letter-spacing: 1px; }
  body h1 {
    font-size: 3.75rem;
    font-weight: 100;
    color: #ffffff;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2); }
    body h1 span {
      font-weight: 500; }
  body a {
    color: #5dc1eb;
    text-decoration: none;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    body a:hover {
      color: #67d5d1; }
  body .container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto; }
  body .header .menu {
    float: right;
    padding: 10px; }
    body .header .menu .switch {
      font-size: 1rem; }
      body .header .menu .switch a {
        text-decoration: none;
        color: #ffffff;
        padding: 0 10px;
        position: relative;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0);
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
        body .header .menu .switch a.on:after {
          content: "";
          width: 40px;
          height: 4px;
          background-color: #ffffff;
          position: absolute;
          margin: 0 auto;
          left: 0;
          right: 0;
          bottom: -8px;
          border-radius: 10px; }
        body .header .menu .switch a.on:hover {
          background-color: rgba(255, 255, 255, 0); }
        body .header .menu .switch a:hover {
          background-color: rgba(255, 255, 255, 0.2); }
  body .top {
    background: #5dc1eb;
    background: -webkit-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
    background: -o-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
    background: linear-gradient(115deg, #5dc1eb 7%, #71e9b6 81%);
    margin-bottom: -70px; }
    body .top .content {
      max-width: 966px;
      margin: 0 auto;
      padding: 100px 0 170px 0; }
  body .about {
    border-radius: 70px 70px 0 0;
    background-color: #ffffff;
    padding: 100px 0 170px 0;
    margin-bottom: -70px; }
    body .about .content {
      max-width: 966px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      body .about .content .des {
        margin-left: 120px;
        padding-left: 120px;
        border-left: 1px rgba(45, 45, 45, 0.2) solid;
        line-height: 2;
        color: #313131; }
    body .about .link-group ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 20%;
      max-width: 500px;
      margin: 0 auto;
      list-style: none;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding-top: 80px;
      font-size: 2.5rem; }
      body .about .link-group ul li a {
        top: 0px; }
        body .about .link-group ul li a:hover {
          position: relative;
          top: -2px; }
  body .exp {
    background-color: #F4F4F4;
    border-radius: 70px 70px 0 0;
    padding: 100px 0 170px 0;
    margin-bottom: -70px; }
    body .exp h2 {
      text-align: center; }
