@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  font-family: "Noto Sans TC script=all rev=1";
  font-weight: 100;
  letter-spacing: 1px;
  color: #9e9e9e;
  background-color: #000000; }
  body h3 {
    text-align: center;
    color: #f8f8f8;
    margin-bottom: 24px;
    font-weight: 500; }
  body h4 {
    color: #f8f8f8; }
  body .subtitle {
    font-size: .75rem;
    margin-bottom: 4px; }

.header {
  height: 56px;
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f8f8f8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 24px;
  position: fixed;
  top: 0;
  z-index: 99; }
  .header h1 {
    font-size: 1rem; }
  @media screen and (max-width: 700px) {
    .header .menu {
      -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start; } }
  .header .menu .toggle {
    display: block;
    height: 52px;
    line-height: 52px;
    text-align: right;
    color: #f8f8f8;
    text-decoration: none; }
    @media screen and (min-width: 701px) {
      .header .menu .toggle {
        display: none; } }
  .header .menu nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 700px) {
      .header .menu nav {
        background-color: #000;
        margin-top: -4px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        .header .menu nav.toggleMenu {
          display: none; } }
    .header .menu nav a {
      display: block;
      text-decoration: none;
      padding: 16px;
      color: #9e9e9e;
      margin-left: 4px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .header .menu nav a:hover {
        color: #f8f8f8; }

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000000;
  padding: 56px 0 32px 0; }
  @media screen and (max-width: 480px) {
    .about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .about .profileImg {
    height: 90vh;
    max-height: 600px;
    width: 40vw;
    background-image: url(../img/wenchien.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 0 0 40px 0; }
    @media screen and (max-width: 480px) {
      .about .profileImg {
        max-height: 400px;
        width: 90vw; } }
  .about .description {
    padding: 32px; }
    @media screen and (max-width: 480px) {
      .about .description {
        margin-top: -286px; } }
    .about .description h2 {
      font-size: 60px;
      color: #f8f8f8;
      margin-bottom: 16px; }
      @media screen and (max-width: 480px) {
        .about .description h2 {
          height: 256px; } }
    .about .description p {
      margin-bottom: 8px; }

.experience {
  background-color: #000000;
  padding: 56px 0 32px 0; }
  .experience .lineLists {
    list-style: none;
    margin: 32px auto;
    width: 0;
    border-left: 1px #9e9e9e solid; }
    @media screen and (max-width: 1024px) {
      .experience .lineLists {
        width: 80%; } }
    .experience .lineLists li::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #00A29A;
      background: -webkit-linear-gradient(135deg, #00a248 0%, #00a29a 100%);
      background: -o-linear-gradient(135deg, #00a248 0%, #00a29a 100%);
      background: linear-gradient(-45deg, #00a248 0%, #00a29a 100%);
      border-radius: 10px;
      position: relative;
      margin-right: -20px; }
    @media screen and (max-width: 1024px) {
      .experience .lineLists li {
        padding-left: 24px; }
        .experience .lineLists li::before {
          left: -34px; } }
    @media screen and (min-width: 1025px) {
      .experience .lineLists li {
        width: 300px; }
        .experience .lineLists li:nth-child(odd) {
          padding-left: 24px; }
          .experience .lineLists li:nth-child(odd)::before {
            left: -34px; }
        .experience .lineLists li:nth-child(even) {
          padding-right: 24px;
          position: relative;
          left: -324px; }
          .experience .lineLists li:nth-child(even)::before {
            right: -313px; } }
    .experience .lineLists li .list {
      font-size: .875rem; }
      .experience .lineLists li .list::before {
        content: "．"; }
    .experience .lineLists li .whatIDo {
      margin-top: 4px;
      padding-top: 4px;
      border-top: 1px #313131 solid;
      color: #f8f8f8; }

.portfolio {
  background-color: #000000;
  padding: 56px 0 32px 0; }
  .portfolio .projectList {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .portfolio .projectList .project {
      width: 30%;
      padding: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      margin-bottom: 24px;
      position: relative;
      top: 0;
      -webkit-transition: .3s ease-in-out;
      -o-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
      @media screen and (max-width: 900px) {
        .portfolio .projectList .project {
          width: 44%; } }
      @media screen and (max-width: 480px) {
        .portfolio .projectList .project {
          width: 90%; } }
      .portfolio .projectList .project:hover {
        position: relative;
        top: -6px;
        background-color: rgba(255, 255, 255, 0.2); }
      .portfolio .projectList .project img {
        width: 100%;
        border-radius: 4px; }
      .portfolio .projectList .project .des {
        margin-bottom: 16px; }
      .portfolio .projectList .project .btn {
        display: block;
        background: #00A29A;
        background: -webkit-linear-gradient(135deg, #00a248 0%, #00a29a 100%);
        background: -o-linear-gradient(135deg, #00a248 0%, #00a29a 100%);
        background: linear-gradient(-45deg, #00a248 0%, #00a29a 100%);
        padding: 8px;
        text-align: center;
        text-decoration: none;
        font-weight: 500;
        color: #f8f8f8;
        margin: 0 auto;
        border-radius: 50px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .portfolio .projectList .project .btn:hover {
          background: #007d77;
          background: -webkit-linear-gradient(45deg, #00a248 0%, #00a29a 100%);
          background: -o-linear-gradient(45deg, #00a248 0%, #00a29a 100%);
          background: linear-gradient(45deg, #00a248 0%, #00a29a 100%); }
