*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$main:linear-gradient(115deg, #4fc6b9 7%, #71e9b6 81%);
$link:#4fc6b9;
$link-hover:#67d5d1;
$gray-100:#ffffff;
$gray-200:rgba(45,45,45,.2);
$gray-600:rgba(45,45,45,.6);
$gray-900:rgba(45,45,45,.9);
$black:#000000;
$gray-bg:#F4F4F4;

$max-screen:1280px;

@mixin boxPadding{
    padding: 100px 0 170px 0;
    @media screen and (max-width: 700px){
        padding: 60px 0 130px 0;
    }
}
@mixin boxBorder{
    border-radius: 70px 70px 0 0;
    @media screen and (max-width: 700px){
        border-radius: 70px 0 0 0;
    }
}

body{
    font-family: "Noto Sans TC script=all rev=1";
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 14px;
    .wrapper{
        overflow: hidden;
    }
    h1{
        font-size: 3.5em;
        font-weight: 100;
        color: $gray-100;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
        span{
            font-weight: 500;
            white-space: nowrap;
        }
    }
    h2{
        text-align: center;
        margin-bottom: 80px;
        font-size: 1.875em;
        font-weight: 400;
        position: relative;
        z-index: 0;
        text-shadow: 1px 1px 2px #ffffff;
        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 100px;
            background: linear-gradient(115deg, #5dc1eb 7%, #71e9b6 81%);
            left: 41%;
            top: -36px;
            z-index: -1;
            opacity: .8;
        }
        @media screen and (min-width: 701px){
            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 30px;
                background: linear-gradient(115deg, #5dc1eb 7%, #71e9b6 81%);
                left: 56%;
                top: 38px;
                z-index: -1;
            }
        }
    }
    h3{
        color: $black;
        font-size: 1rem;
    }
    a{
        color: $link;
        text-decoration: none;
        transition: .4s;
        &:hover{
            color: $link-hover;
        }
    }
    .container{
        max-width: $max-screen;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        @media screen and (max-width: 700px){
            width: 90%;
        }

    }
    .header{
        .menu{
            float: right;
            padding: 10px;
            margin-right: 10%;
            margin-top: 2%;
            @media screen and (max-width: 700px){
                margin-right: 2%;
            }
            .switch{
                font-size: 1em;
                a{
                    text-decoration: none;
                    color: $gray-100;
                    padding: 0 10px;
                    position: relative;
                    border-radius: 10px;
                    background-color: rgba(255,255,255,0);
                    transition: .4s;
                    &.on{
                        cursor: default;
                        &:after{
                            content: "";
                            width: 40px;
                            height: 4px;
                            background-color: $gray-100;
                            position: absolute;
                            margin: 0 auto;
                            left: 0;
                            right: 0;
                            bottom: -8px;
                            border-radius: 10px;
                        }
                        &:hover{
                            background-color: rgba(255,255,255,0);
                        }
                    }
                    &:hover{
                        background-color: rgba(255,255,255,.2);
                    }
                }
            }
        }
    }
    .top{
        background-color: #ffffff;
        background-image: url(/img/bgImage3.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: -70px;
        .content{
            max-width: 1200px;
            margin: 0 auto;
            @include boxPadding;
        }
    }
    .about{
        background-color: $gray-100;
        margin-bottom: -70px;
        @include boxPadding;
        @include boxBorder;
        .content{
            max-width: 1200px;
            display: flex;
            h3{
                border-bottom: 1px solid $gray-200;
                padding-bottom: 8px;
                margin-bottom: 8px;
            }
            .des{
                margin-left: 40px;
                padding-left: 40px;
                border-left: 1px $gray-bg solid;
                line-height: 2;
                color: $gray-900;
                font-size: 14px;
            }
            .img{
                img{
                    max-width: 30%;
                    display: block;
                    margin: 0 auto;
                }
            }
            @media screen and (max-width: 800px){
                flex-flow: column;
                .des{
                    margin-left: 0;
                    padding-left: 0;
                    border: none;
                }
                .img{
                    max-width: 100%;
                    margin-bottom: 20px;
                    img{
                        max-width: 50%;
                    }
                }
            }
        }
        .link-group{
            padding: 16px 0;
            ul{
                display: flex;
                width: 20%;
                max-width: 500px;
                margin: 0 auto;
                list-style: none;
                justify-content: space-around;
                @media screen and (max-width: 800px){
                    width: 80%;
                }
                li{
                    font-size: 26px;
                    margin: 0 4px;
                    a{
                        top:0px;
                        &:hover{
                            position: relative;
                            top:-2px;
                        }
                    }
                }
            }
        }
        .skills{
            font-size: 14px;
            list-style: none;
            overflow: hidden;
            margin-bottom: 20px;
            li{
                float: left;
                background-color: $gray-bg;
                color: $black;
                margin: 4px 8px 4px 0;
                padding: 0 8px;
                border-radius: 4px;
                line-height: 24px;
            }
        }
    }
    .exp{
        background-color: #ffffff;
        background-image: url(/img/bgImage.jpg);
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        margin-bottom: -70px;
        @include boxPadding;
        @include boxBorder;
        .expList{
            margin-bottom: 80px;
            &:last-child{
                margin-bottom: 0;
            }
            .title{
                &::before{
                    content: "";
                    display: inline-block;
                    background: $link;
                    background: $main;
                    width: 20px;
                    height: 20px;
                    border-radius: 100px;
                    margin-right: 20px;
                    @media screen and (max-width: 700px){
                        margin-bottom: 10px;
                        width: 40px;
                        height: 8px;
                    }
                }
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    @media screen and (max-width: 700px){
                        flex-direction: column;
                        align-items: flex-start;
                    }
                h3{
                    margin-right: 20px;
                }
                h4{
                    font-size: 1em;
                    color: $gray-900;
                    font-weight: 200;
                }
            }
            .job{
                padding-left: 60px;
                color: $gray-900;
                .jobTitle{
                    color: $black;
                    font-weight: 500;
                    margin-bottom: 8px;
                    margin-left: -20px;
                }
                .list{
                    margin-bottom: 20px;
                }
                .des{
                    margin-left: -20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .learn{
        background-color: $gray-100;
        margin-bottom: -70px;
        @include boxPadding;
        @include boxBorder;
        .fullImg{
            max-width: 100%;
            margin: 16px 0;
        }
        .projectList{
            list-style: none;
            li{
                margin-bottom: 32px;
                @media screen and (max-width: 700px){
                    margin-right: 0;
                    margin-bottom: 20px;
                }
                .project{
                    display: flex;
                    align-items: center;
                    padding: 14px 16px;
                    background-color: $gray-100;
                    border-radius: 8px;
                    box-shadow: 0px 2px 24px $gray-200;
                    transition: .2s ease-in;
                    @media screen and (max-width: 700px){
                        flex-direction: column;
                        align-items: center;
                    }
                    &:hover{
                        box-shadow: 0px 2px 16px $gray-600;
                    }
                    img{
                        max-width: 500px;
                        width: 50%;
                        margin-right: 16px;
                        @media screen and (max-width: 700px){
                            max-width: 100%;
                            width: 100%;
                            margin-right: 0;
                            margin-bottom: 16px;
                        }
                    }
                    h3,p{
                        color: $gray-900;
                    }
                    h3{
                        margin-bottom: 8px;
                    }
                    @media screen and (max-width: 700px){
                        .des{
                            width: 100%;
                        }
                    }
                    .skills{
                        font-size: 12px;
                        list-style: none;
                        overflow: hidden;
                        margin: 8px 0;
                        li{
                            float: left;
                            background-color: $gray-bg;
                            color: $black;
                            margin: 4px 8px 4px 0;
                            padding: 0 8px;
                            border-radius: 4px;
                            line-height: 24px;
                        }
                    }
                    .btn{
                        float: right;
                        margin-top: 8px;
                        border-radius: 8px;
                        background-color: $link;
                        width: 160px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                        transition: .3s;
                        color: #ffffff;
                        &:hover{
                            background-color: $link-hover;
                        }
                        @media screen and (max-width: 700px){
                            width: 100%;
                        }
                    }
                }
                .locked{
                    box-shadow: 0px 2px 4px $gray-bg;
                    &:hover{
                        box-shadow: 0px 2px 4px $gray-bg;
                    }
                }
            }
        }
    }
    .more{
        background-color: #ffffff;
        background-image: url(/img/bgImage2.jpg);
        background-position: center center;
        background-size: cover;
    }
    .award{
        background-color: #ffffff;
        @include boxPadding;
        @include boxBorder;
        .content{
            display: flex;
            align-items: flex-end;
            @media screen and (max-width: 700px){
                flex-direction: column;
                align-items: center;
            }
            .awards{
                width: 120%;
                margin-right: 80px;
                list-style: none;
                @media screen and (max-width: 700px){
                    width: 102%;
                    margin-right: 0;
                }
                li{
                    margin-bottom: 40px;
                    h3{
                        font-weight: 300;
                        line-height: 2;
                        margin-bottom: 8px;
                        span{
                            padding: 4px;
                            border-radius: 4px;
                            background: $link;
                            background: $main;
                            color: $gray-100;
                            font-weight: 500;
                            margin-right: 8px;
                        }
                    }
                    .des{
                        color: $gray-600;
                        @media screen and (max-width: 700px){
                            display: none;
                        }
                    }
                }
            }
            .img{
                width: 40%;
                @media screen and (max-width: 700px){
                    width: 60%;
                    margin-top: 20px;
                }
                img{
                    max-width: 100%;
                }
            }
        }
    }
    .footer{
        background-color: #ffffff;
        background-image: url(/img/bgImage3.jpg);
        background-position: center center;
        background-size: cover;
        padding: 10px;
        .copyright{
            font-size: 0.625em;
            color: $gray-100;
            text-align: center;
        }
    }
}