* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Noto Sans TC script=all rev=1";
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 14px; }
  body .wrapper {
    overflow: hidden; }
  body h1 {
    font-size: 3.75em;
    font-weight: 100;
    color: #ffffff;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2); }
    body h1 span {
      font-weight: 500;
      white-space: nowrap; }
  body h2 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 1.875em;
    font-weight: 400;
    position: relative;
    z-index: 0;
    text-shadow: 1px 1px 2px #ffffff; }
    body h2::before {
      content: "";
      display: block;
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      background: -webkit-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
      background: -o-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
      background: linear-gradient(115deg, #5dc1eb 7%, #71e9b6 81%);
      left: 41%;
      top: -36px;
      z-index: -1;
      opacity: .8; }
    @media screen and (min-width: 701px) {
      body h2::after {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: -webkit-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
        background: -o-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
        background: linear-gradient(115deg, #5dc1eb 7%, #71e9b6 81%);
        left: 56%;
        top: 38px;
        z-index: -1; } }
  body a {
    color: #5dc1eb;
    text-decoration: none;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
    body a:hover {
      color: #67d5d1; }
  body .container {
    max-width: 1280px;
    width: 70%;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (max-width: 700px) {
      body .container {
        width: 90%; } }
  body .header .menu {
    float: right;
    padding: 10px;
    margin-right: 10%;
    margin-top: 2%; }
    @media screen and (max-width: 700px) {
      body .header .menu {
        margin-right: 2%; } }
    body .header .menu .switch {
      font-size: 1em; }
      body .header .menu .switch a {
        text-decoration: none;
        color: #ffffff;
        padding: 0 10px;
        position: relative;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0);
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
        body .header .menu .switch a.on {
          cursor: default; }
          body .header .menu .switch a.on:after {
            content: "";
            width: 40px;
            height: 4px;
            background-color: #ffffff;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            bottom: -8px;
            border-radius: 10px; }
          body .header .menu .switch a.on:hover {
            background-color: rgba(255, 255, 255, 0); }
        body .header .menu .switch a:hover {
          background-color: rgba(255, 255, 255, 0.2); }
  body .top {
    background: #5dc1eb;
    background: -webkit-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
    background: -o-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
    background: linear-gradient(115deg, #5dc1eb 7%, #71e9b6 81%);
    margin-bottom: -70px; }
    body .top .content {
      max-width: 966px;
      margin: 0 auto;
      padding: 100px 0 170px 0; }
      @media screen and (max-width: 700px) {
        body .top .content {
          padding: 60px 0 130px 0; } }
  body .about {
    background-color: #ffffff;
    margin-bottom: -70px;
    padding: 100px 0 170px 0;
    border-radius: 70px 70px 0 0; }
    @media screen and (max-width: 700px) {
      body .about {
        padding: 60px 0 130px 0; } }
    @media screen and (max-width: 700px) {
      body .about {
        border-radius: 70px 0 0 0; } }
    body .about .content {
      max-width: 966px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      body .about .content .des {
        margin-left: 80px;
        padding-left: 80px;
        border-left: 1px rgba(45, 45, 45, 0.2) solid;
        line-height: 2;
        color: rgba(45, 45, 45, 0.9);
        font-size: 1.125em; }
      body .about .content .img {
        width: 60%; }
        body .about .content .img img {
          max-width: 100%; }
      @media screen and (max-width: 800px) {
        body .about .content {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column;
          flex-flow: column; }
          body .about .content .des {
            margin-left: 0;
            padding-left: 0;
            border: none; }
          body .about .content .img {
            max-width: 50%;
            text-align: center;
            margin-bottom: 20px; }
            body .about .content .img img {
              max-width: 100%; } }
    body .about .link-group ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 20%;
      max-width: 500px;
      margin: 0 auto;
      list-style: none;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding-top: 20px; }
      @media screen and (max-width: 800px) {
        body .about .link-group ul {
          width: 80%; } }
      body .about .link-group ul li {
        font-size: 26px;
        margin: 0 4px; }
        body .about .link-group ul li a {
          top: 0px; }
          body .about .link-group ul li a:hover {
            position: relative;
            top: -2px; }
    body .about .skills {
      font-size: 12px;
      list-style: none;
      overflow: hidden;
      margin: 20px 0; }
      body .about .skills li {
        float: left;
        background-color: #F4F4F4;
        color: #000000;
        margin: 4px 8px 4px 0;
        padding: 0 8px;
        border-radius: 4px; }
  body .exp {
    background-color: #F4F4F4;
    margin-bottom: -70px;
    padding: 100px 0 170px 0;
    border-radius: 70px 70px 0 0; }
    @media screen and (max-width: 700px) {
      body .exp {
        padding: 60px 0 130px 0; } }
    @media screen and (max-width: 700px) {
      body .exp {
        border-radius: 70px 0 0 0; } }
    body .exp .expList {
      margin-bottom: 80px; }
      body .exp .expList:last-child {
        margin-bottom: 0; }
      body .exp .expList .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 20px; }
        body .exp .expList .title::before {
          content: "";
          display: inline-block;
          background: #5dc1eb;
          background: -webkit-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
          background: -o-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
          background: linear-gradient(115deg, #5dc1eb 7%, #71e9b6 81%);
          width: 20px;
          height: 20px;
          border-radius: 100px;
          margin-right: 20px; }
          @media screen and (max-width: 700px) {
            body .exp .expList .title::before {
              margin-bottom: 10px;
              width: 40px;
              height: 8px; } }
        @media screen and (max-width: 700px) {
          body .exp .expList .title {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start; } }
        body .exp .expList .title h3 {
          font-size: 1.25em;
          color: #000000;
          margin-right: 20px; }
        body .exp .expList .title h4 {
          font-size: 1em;
          color: rgba(45, 45, 45, 0.9);
          font-weight: 200; }
      body .exp .expList .job {
        padding-left: 60px; }
        body .exp .expList .job .jobTitle {
          color: #000000;
          font-weight: 500;
          margin-bottom: 8px;
          margin-left: -20px; }
        body .exp .expList .job .list {
          color: rgba(45, 45, 45, 0.6);
          margin-bottom: 20px; }
        body .exp .expList .job .des {
          margin-left: -20px;
          margin-bottom: 20px; }
  body .learn {
    background-color: #ffffff;
    margin-bottom: -70px;
    padding: 100px 0 170px 0;
    border-radius: 70px 70px 0 0; }
    @media screen and (max-width: 700px) {
      body .learn {
        padding: 60px 0 130px 0; } }
    @media screen and (max-width: 700px) {
      body .learn {
        border-radius: 70px 0 0 0; } }
    body .learn .project {
      list-style: none; }
      body .learn .project li {
        margin-bottom: 32px; }
        @media screen and (max-width: 700px) {
          body .learn .project li {
            margin-right: 0;
            margin-bottom: 20px; } }
        body .learn .project li a {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 14px 16px;
          background-color: #ffffff;
          border-radius: 8px;
          -webkit-box-shadow: 0px 2px 24px rgba(45, 45, 45, 0.2);
          box-shadow: 0px 2px 24px rgba(45, 45, 45, 0.2);
          -webkit-transition: .2s ease-in;
          -o-transition: .2s ease-in;
          transition: .2s ease-in; }
          @media screen and (max-width: 900px) {
            body .learn .project li a {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center; } }
          body .learn .project li a:hover {
            -webkit-box-shadow: 0px 2px 16px rgba(45, 45, 45, 0.6);
            box-shadow: 0px 2px 16px rgba(45, 45, 45, 0.6); }
          body .learn .project li a.locked {
            -webkit-box-shadow: 0px 2px 4px #F4F4F4;
            box-shadow: 0px 2px 4px #F4F4F4; }
            body .learn .project li a.locked:hover {
              -webkit-box-shadow: 0px 2px 4px #F4F4F4;
              box-shadow: 0px 2px 4px #F4F4F4;
              cursor: default; }
          body .learn .project li a img {
            max-width: 300px;
            width: 40%;
            margin-right: 16px; }
            @media screen and (max-width: 900px) {
              body .learn .project li a img {
                max-width: 100%;
                width: 100%;
                margin-right: 0;
                margin-bottom: 16px; } }
          body .learn .project li a h3, body .learn .project li a p {
            color: rgba(45, 45, 45, 0.9); }
          body .learn .project li a h3 {
            margin-bottom: 8px; }
          @media screen and (max-width: 900px) {
            body .learn .project li a .des {
              width: 100%; } }
          body .learn .project li a .skills {
            font-size: 12px;
            list-style: none;
            overflow: hidden;
            margin: 8px 0; }
            body .learn .project li a .skills li {
              float: left;
              background-color: #F4F4F4;
              color: #000000;
              margin: 4px 8px 4px 0;
              padding: 0 8px;
              border-radius: 4px; }
  body .award {
    background-color: #F4F4F4;
    padding: 100px 0 170px 0;
    border-radius: 70px 70px 0 0; }
    @media screen and (max-width: 700px) {
      body .award {
        padding: 60px 0 130px 0; } }
    @media screen and (max-width: 700px) {
      body .award {
        border-radius: 70px 0 0 0; } }
    body .award .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      @media screen and (max-width: 700px) {
        body .award .content {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
      body .award .content .awards {
        width: 120%;
        margin-right: 80px;
        list-style: none; }
        @media screen and (max-width: 700px) {
          body .award .content .awards {
            width: 102%;
            margin-right: 0; } }
        body .award .content .awards li {
          margin-bottom: 40px; }
          body .award .content .awards li h3 {
            font-weight: 300;
            line-height: 2;
            margin-bottom: 8px; }
            body .award .content .awards li h3 span {
              padding: 4px;
              border-radius: 4px;
              background: #5dc1eb;
              background: -webkit-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
              background: -o-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
              background: linear-gradient(115deg, #5dc1eb 7%, #71e9b6 81%);
              color: #ffffff;
              font-weight: 500;
              margin-right: 8px; }
          body .award .content .awards li .des {
            color: rgba(45, 45, 45, 0.6); }
            @media screen and (max-width: 700px) {
              body .award .content .awards li .des {
                display: none; } }
      body .award .content .img {
        width: 40%; }
        @media screen and (max-width: 700px) {
          body .award .content .img {
            width: 60%;
            margin-top: 20px; } }
        body .award .content .img img {
          max-width: 100%; }
  body .footer {
    background: #5dc1eb;
    background: -webkit-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
    background: -o-linear-gradient(335deg, #5dc1eb 7%, #71e9b6 81%);
    background: linear-gradient(115deg, #5dc1eb 7%, #71e9b6 81%);
    padding: 10px; }
    body .footer .copyright {
      font-size: 0.625em;
      color: #ffffff;
      text-align: center; }
